@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
    --primary: #111;
    --secondary: #A6D1E6;
    --bg: #F0F8FF;
    --border: #aaa;
}
* 
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth ;
}
.top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0 50px;
    padding: 60px;
    font-size: 1.5em;
}
.top .links a
{
    text-decoration: none;
    color: #276bd0;
    transition: .5s;
}
.top .links a:hover
{
    color: var(--secondary);
}
.top .head
{
    font-weight: 600;
    margin: 0 auto;
    
}
.translate {
  display: flex;
  align-items: center;
}


.top .head span
{
    color: var(--secondary);
}
.top .search i
{
    transition: .5s;
    padding-right: 10px;
}


.top .search i:hover
{
    color: #276bd0;
    cursor: pointer;
}
.top .search .hamburger
{
    display: none;
    color: #276bd0;
}

.responsive-div {
  display: none; /* Hide the div by default */
  text-align: center; /* Center the content horizontally */
  margin: 0 auto; /* Center the div itself */
}


/* 
Dropdown */
.dropdown:hover .dropdown-menu {
  display: block;
  
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  list-style: none; /* Remove list dot */
  padding: 0; /* Remove default padding */
  border: 3px solid #276bd0;
  border-top: none;
}

.dropdown-menu li {
  background-color: #fff;
  padding: 10px;
  
}

.dropdown-menu li a {
  color: #000;
  text-decoration: none;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #276bd0;
    border-bottom: 1px solid #276bd0;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff;
  }
  
  .header .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
  }
  
  .header .navigation li a {
    text-decoration: none;
    font-weight: bold;
    color: #276bd0;
    padding: 5px 40px;
    transition: .3s ease-in-out;
    border-bottom: 2px solid #fff;
    left: 0;
  }
  
  .header .navigation li a:hover {
    border-bottom: 2px solid var(--secondary);
  }
  
  .banner {
    margin: 20px 0px;
  }
  
  .banner .swiper-container {
    width: 100%;
    position: relative; /* Add this line */
  }

  .banner .swiper-slide .text {
    position: absolute;
    color: #fff;
    top: 70%;
    opacity: 0; /* Set initial opacity to 0 */
    animation: slideIn 3s forwards; /* Apply animation */
  }
  @keyframes slideIn {
    0% {
      top: 100%; /* Initial position */
      opacity: 0; /* Initial opacity */
    }
    100% {
      top: 70%; /* Final position */
      opacity: 1; /* Final opacity */
    }
  }
  .swiper-pagination {
    position: absolute; /* Add this line */
    bottom: -10px; /* Adjust the value as needed */
    left: 50%;
    transform: translateX(-50%);
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide .imgbx img {
    position: relative;
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: brightness(50%);
  }
  
  .swiper-slide .text {
    position: absolute;
    color: #fff;
    top: 50%; /* Updated to center vertically */
    left: 50%; /* Updated to center horizontally */
    transform: translate(-50%, -50%); /* Added to center both vertically and horizontally */
    text-align: center; /* Added to center the text within the container */
  }
  
  section {
    padding: 40px 30px;
  }
  
.news
{
    text-align: center;
}
.news .titletext
{
    text-align: center;
    font-size: 2em;
    padding-bottom: 40px;
}
.news .titletext span
{
    color: #276bd0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block: 2rem;
    gap: 2rem;
    background: var(--bg);
    border-radius: 20px;
    padding: 50px 0px;
  }
  
  img {
    max-width: 100%;
    object-fit: cover;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #fff;
  }
  
  .card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  
  .tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
    background: var(--secondary);
    color: #fff;
  }
  
  .tag + .tag {
    margin-left: .5em;
  }
  
  .card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #276bd0;
  }
  
  .card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
  }
  
  .user {
    display: flex;
    gap: .5rem;
  }
  
  .user__image {
    border-radius: 50%;
  }
  
  .user__info > small {
    color: #666;
  }

.events
{
    text-align: center;
}
.events .titletext
{
    text-align: center;
    font-size: 2em;
    padding-bottom: 40px;
}
.events .titletext span
{
    color: var(--secondary);
}
.jobs
{
    text-align: center;
}
.jobs .titletext
{
    text-align: center;
    font-size: 2em;
    padding-bottom: 40px;
}
.jobs .titletext span
{
    color: #276bd0;
}   
.register
{
    text-align: center;
    border-top: 1px solid var(--border);
}
.register .titletext
{
    text-align: center;
    font-size: 2em;
    padding-bottom: 40px;
}
.register .titletext span
{
    color: #276bd0;
}  
.form
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    background: #276bd0;
    padding: 30px;
    width: 700px;
    margin: auto;
    border-radius: 20px;
    height: auto;
}
.form .formimg img
{
    width: 350px;
    border-radius: 25px;
}
.form .formcontent
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.form .formcontent input
{
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
}
.strip
{
    background: var(--secondary);
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.strip h1
{
    color: #fff;
    font-weight: 300;
}
.strip .icons a{
    color: #fff;
}
.alert {
    position: fixed;
    
    top: 5%;
    right: 2%;
    background: #276bd0;
    color: #fff;
    font-weight: 800;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 20px;
    width: 300px;
    height: auto;
    border-radius: 10px;
    transform: translateX(150%);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}
.alert .navigation1
{
    display: flex;
    flex-direction: column;
    gap: 35px;
    list-style: none;
    text-align: center;
}
.alert .navigation1 li a
{
    text-decoration: none;
    color: #fff;
}
.alert p {
    margin: 30px;
    letter-spacing: 1px;
}

.alert i {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}
.register .form .btn
{
    margin-top: 10px;
    border: none;
    padding: 10px 30px;
    background: #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: .5s;
}

@media(max-width: 911px){
    .header
    {
        display: none;
    }
    .top .search .hamburger
    {
        display: block;
    }   
    .register .form 
    {
        margin: 0 0;
    }
    swiper-slide .imgbx img {
        height: 50vh;
    }
    .top .search{
        display: flex;
        justify-content: space-between;
    }
    .top
    {
        position: sticky;
        top: 0;
        z-index: 2;
        background: #fff;
        width: 100%;
    }
    .banner
    {
    margin: 0px 0px;   
    }
    .form
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



.contact-section {
  padding: 60px 0;
  text-align: center;
}
.contact-section .titletext
{
    text-align: center;
    font-size: 2em;
    padding-bottom: 40px;
}
.contact-section .titletext span
{
    color: #276bd0;
}
.contact-section .container {
  max-width: 1200px;
  margin: 0 auto;
}

.contact-section .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-section .col-md-6 {
  flex-basis: 50%;
}

.contact-section .picture-container {
  position: relative;
  padding: 20px;
}

.contact-section .picture-border {
  border: 4px solid #276bd0;
  padding: 10px;
  border-radius: 20px;
}

.contact-section .picture-container img {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.contact-section .content-container {
  padding: 0 40px;
}

.contact-section h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-section p {
  font-size: 18px;
  color: #777777;
  margin-bottom: 30px;
}

.contact-section .btn-contact {
  display: inline-block;
  background-color: #276bd0;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.contact-section .btn-contact:hover {
  background-color: #276bd0;
}




  

@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans';
  background: #fafafa;
}

a {
  color: inherit;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.sub-card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid  #276bd0;
  text-decoration: none;
}

.sub-card:hover {
  transform: rotate(0);
}

.sub-card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.sub-card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.sub-card .tags {
  display: flex;
}

.sub-card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.sub-card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.sub-card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.sub-card:before,
.sub-card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.sub-card:before {
  background:  #276bd0;
  width: 250%;
  height: 250%;
}

.sub-card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.sub-card:hover {
  color: var(--color);
}

.sub-card:hover:before,
.sub-card:hover:after {
  transform: scale(1);
}

.sub-card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}




  
  
/*   
Footer */

  



.footer-distributed{
	background: var(--secondary);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  black;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  black;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  black;
	font-size: 14px;
	font-weight: normal;
	margin: 0 auto;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 30%;
  
}

.footer-distributed .footer-center i{
	background-color:  var(--secondary);
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: black;
  font-weight:400;
	vertical-align: middle;
	
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  black;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: black;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 25%;
}
.footer-distributed .footer-right i{
	background-color:  var(--secondary);
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-right i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-right p{
	display: inline-block;
	color: black;
  font-weight:400;
	vertical-align: middle;
	
}

.footer-distributed .footer-right p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-right p a{
	color:  black;
	text-decoration: none;;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  black;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  black;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  var(--secondary);
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		/* text-align: center; */
	}
  .footer-distributed .footer-left {
    text-align: center;
  }

  .footer-distributed .footer-left iframe{
    width: fit-content;
  }

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
  .footer-distributed .footer-right i{
		margin-left: 0;
	}


}

@media (max-width: 768px) {
  /* Show the div only on screens with a maximum width of 768px (responsive mode) */
  .responsive-div {
    margin-top: 20px;
    display: block;
  }
  .head img {
    display: none; /* Show the image by default */
  }
  .top-head {
    justify-content: center; /* Center the items in responsive mode */
  }

  .search {
    margin-left: auto; /* Push the hamburger icon to the right in responsive mode */
  }
  .translate {
    display: none;
  }


}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .sub-card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .sub-card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .contact-section .row {
      flex-direction: column;
  }

  .contact-section .col-md-6 {
      flex-basis: 100%;
  }

  .contact-section .picture-container {
      order: 2;
  }

  .contact-section .content-container {
      order: 1;
  }
}

